/* main */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --accent: #263238;
  --text: #8F95A5;
}

.section__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
}

/* /main */

/* header */
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  align-items: center;
  margin-bottom: 115px;
}

.header__top__link {
  text-decoration: none;
}

.header__mnu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__mnu__item {
  padding: 0;
  list-style-type: none;
}

.header__mnu__link {
  text-decoration: none;
  color: var(--accent);
  font-size: 20px;
  font-weight: 500;
  transition: .3s all ease;
}

.header__mnu__link:hover {
  border-bottom: 3px solid var(--accent);
}

.header__mobile__mnu {
  display: none;
}

.header__top__btn {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  border: 2px solid var(--accent);
  border-radius: 5px;
  padding: 17px 57px;
  text-align: center;
  transition: .3s all ease;
}

.header__top__btn:hover {
  background-color: var(--accent);
  color: #fff;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__burger-btn span {
  position: absolute;
  top: 7px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #39515e;
  border-radius: 1px;
}

.header__burger-btn span:nth-child(1) {
  top: 0;
}

.header__burger-btn span:nth-child(3) {
  top: 14px;
  width: 21px;
}

.header__bottom {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header__bottom-left {
  display: flex;
  align-items: center;
}

.header__flex {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 40px;
}

.header__img {
  padding: 28px 17px 0 0;
}

.header__descr {
  font-size: 24px;
  color: var(--text);
  margin-bottom: 60px;
  max-width: 550px;
}

.btn {
  font-size: 20px;
  color: #fff;
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  padding: 15px 50px;
  cursor: pointer;
  transition: .3s all ease;
}

.btn:hover {
  background-color: transparent;
  outline: 2px solid var(--accent);
  color: var(--accent);
}

.header__btn {
  font-size: 36px;
  padding: 32px 110px;
}

.header__bottom__img {
  max-width: 100%;

}

.header__bottom__img-992px {
  display: none;
}

/* /header */

/* skills  */
.skills {
  padding: 103px 0 282px;
}

.skills__title {
  text-align: center;
  margin-bottom: 90px;
}

.skills__grid {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "one two three"
    "one four four";
  justify-content: space-evenly;
  align-items: stretch;
}

.skills__item {
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
}

.speaking {
  grid-area: one;
}

.writing {
  grid-area: two;
}

.reading {
  grid-area: three;
}

.listening {
  grid-area: four;
  flex-direction: row;
}

.listening .skills__item__img {
  order: 1;
}

.skills__item__img img {
  display: block;
  max-width: 100%;
}

.skills__item__title {
  font-size: 30px;
  line-height: 80px;
}

.skills__item__descr {
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 50px;
  max-width: 347px;
  width: 100%;
}

.skills__item__btn {
  border-radius: 5px;
  margin-bottom: 40px;
}

/* /skills */

/* about */
.about {
  padding-bottom: 227px;
}

.about__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__title {
  margin-bottom: 23px;
}

.about__descr {
  color: var(--text);
  font-size: 20px;
  max-width: 635px;
  margin-bottom: 50px;
}

.about__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.about__item__title {
  font-size: 48px;
  color: var(--accent);
  line-height: 80px;
}

.about__item__descr {
  color: var(--text);
  font-size: 20px;
}

.about__img {
  display: block;
  max-width: 100%;
}

/* /about */

/* pricing */
.pricing {
  padding-bottom: 260px;
}

.pricing__title {
  text-align: center;
  margin-bottom: 80px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
}

.pricing__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
  width: 100%;
}

.pricing__img {
  max-height: 311px;
  height: 311px;
  margin-bottom: 40px;
}

.pricing__img img {
  max-width: 100%;
}

.pricing__item__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 20px;
  color: var(--accent);
}

.pricing__item__descr {
  font-size: 20px;
  color: var(--text);
  margin-bottom: 30px;
  line-height: normal;
}

.pricing__item__btn {
  line-height: normal;
  display: block;
  width: 240px;
  height: 45px;
  border: none;
  color: #546269;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.pricing__item__btn span {
  font-size: 30px;
  color: var(--accent);
}

/* /pricing */

/* contact */
.contact {
  padding-bottom: 130px;
}

.contact__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__title_2 {
  display: none;
}

.contact__left {
  margin-right: 30px;
}

.contact__left img {
  max-width: 100%;
  max-height: 429px;
  min-width: 477px;
}

.contact__title {
  margin-bottom: 37px;
}

.contact__descr {
  font-size: 20px;
  color: var(--text);
  margin-bottom: 50px;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.contact__input {
  border-radius: 10px;
  border: 1px solid var(--text);
  max-width: 450px;
  width: 100%;
  font-size: 16px;
  color: var(--text);
  padding: 26px 0 26px 30px;
  flex-shrink: 0;
}

.contact__btn {
  display: block;
  width: 100%;
  max-width: 264px;
  border-radius: 10px;
  font-weight: 500;
  height: 80px;
  flex-shrink: 0;
}

/* /contact */

/* footer */
.footer {
  padding-bottom: 64px;
}

.footer hr {
  color: #C4C4C4;
  margin-bottom: 30px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__mnu {
  display: flex;
}

.footer__mnu__item {
  padding: 0;
  margin: 0;
}

.footer__mnu__link {
  text-decoration: none;
  color: var(--text);
  font-size: 24px;
}

/* /footer */

/* media */
/* 992 */
@media screen and (max-width: 992px) {

  /* main */
  .section__title {
    font-size: 36px;
  }

  /* header */
  .header__top {
    margin-bottom: 80px;
  }

  .header__mnu {
    gap: 25px;
  }

  .header__mnu__link {
    font-size: 16px;
  }

  .header__top__btn {
    font-size: 16px;
  }

  .header__title {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 27px;
  }

  .header__descr {
    font-size: 20px;
    line-height: normal;
  }

  .header__btn {
    font-size: 24px;
  }

  /* skills */
  .skills {
    padding: 72px 0 106px;
  }

  .skills__item__title {
    font-size: 22px;
  }

  .skills__item__descr {
    font-size: 14px;
  }

  .skills__item__btn {
    font-size: 18px;
    padding: 0;
    width: 196px;
    height: 57px;
  }

  .speaking {
    justify-content: center;
  }

  /* about */
  .about {
    padding-bottom: 125px;
  }

  .about__descr {
    font-size: 16px;
  }

  .about__item__title {
    font-size: 30px;
  }

  .about__item__descr {
    font-size: 16px;
  }

  /* pricing */
  .pricing {
    padding-bottom: 136px;
  }

  .pricing__title {
    margin-bottom: 20px;
  }

  .pricing__item__title {
    font-size: 22px;
    margin-bottom: 14px;
    line-height: 34px;
  }

  .pricing__item__descr {
    font-size: 16px;
  }

  .pricing__item__btn {
    font-size: 16px;
  }

  .pricing__item__btn span {
    font-size: 24px;
  }

  /* footer */
  .footer {
    padding-bottom: 40px;
  }

  .footer hr {
    margin-bottom: 20px;
  }

  .footer__mnu__link {
    font-size: 16px;
  }
}

/* 767 */
@media screen and (max-width: 767px) {

  /* main */
  .overlay {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgba(7, 34, 47, 0.7);
  }

  .section__title {
    font-size: 30px;
  }

  .btn:hover {
    background-color: var(--accent);
    outline: none;
    color: #fff;
  }

  /* header */
  .header__mnu {
    display: none;
  }

  .header__mobile__mnu {
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 50%;
    padding: 39px 0 0 20px;
    background-color: #fff;
    height: 100vh;
    z-index: 1;
    transition: all .2s ease;
    overflow: auto;
  }

  .header__mobile__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .header__close-btn {
    position: relative;
    width: 39px;
    height: 39px;
    border: none;
    background-color: transparent;
  }

  .header__close-btn span {
    position: absolute;
    left: 10px;
    width: 19px;
    height: 3px;
    background-color: #39515e;
  }

  .header__close-btn span:nth-child(1) {
    transform: rotate(45deg);
  }

  .header__close-btn span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header__mobile__mnu hr {
    background-color: #C4C4C4;
    color: #C4C4C4;
    max-width: 100%;
    width: 364px;
  }

  .header__burger-btn {
    display: block;
  }

  .active {
    left: 0;
  }

  .deactive {
    left: -100%;
  }

  .lock {
    overflow: hidden;
  }

  .header__top {
    margin-bottom: 20px;
  }

  .header__top__btn {
    width: 210px;
    margin-top: 60px;
  }

  .header__bottom {
    flex-direction: column-reverse;
    gap: 0;
  }

  .header__bottom-left {
    text-align: center;
  }

  .header__flex {
    justify-content: center;
  }

  .header__img {
    display: none;
  }

  .header__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 25px;
  }

  .header__descr {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .header__btn {
    padding: 20px 60px;
  }

  .header__mnu__link:hover {
    display: block;
    border-bottom: none;
  }

  .header__top__btn:hover {
    background-color: transparent;
    color: #000;
  }

  /* skills */
  .skills__grid {
    gap: 30px;
    justify-content: center;
    grid-template-areas: "one two"
      "three four";
  }

  .skills__item {
    padding: 0 20px;
  }

  .writing {
    justify-content: stretch;
  }

  .listening {
    flex-direction: column-reverse;
  }

  .skills__item__title {
    font-size: 20px;
  }

  .skills__item__descr {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .skills__item__btn {
    display: block;
    margin: 0 auto 20px;
    font-size: 16px;
    width: 178px;
    height: 50px;
  }

  /* about */
  .about__descr {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .about__item__title {
    font-size: 22px;
    line-height: 40px;
  }

  .about__item__descr {
    font-size: 13px;
  }

  /* pricing */
  .pricing__items {
    flex-direction: column;
    align-items: center;
  }

  .pricing__item {
    text-align: center;
    max-width: 50%;
    gap: 20px;
  }

  .pricing__img {
    margin-bottom: 20px;
    max-height: none;
    height: 100%;
  }

  .pricing__item__title {
    font-size: 19px;
    line-height: 28px;
  }

  .pricing__item__descr {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .pricing__item__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 205px;
    height: 45px;
  }

  .pricing__item__btn span {
    font-size: 22px;
  }

  /* contact */
  .contact__wrap {
    align-items: flex-end;
  }

  .contact__left img {
    min-width: 0;
  }

  .contact__descr {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .contact__input {
    padding: 0;
    height: 50px;
    width: 283px;
    padding-left: 20px;
  }

  .contact__btn {
    padding: 0;
    width: 145px;
    height: 50px;
  }
}

/* 575 */
@media screen and (max-width: 575px) {

  /* main */
  .overlay {
    display: none;
  }

  /* header */
  .header__mobile__mnu {
    width: 100%;
  }

  .header__mobile__mnu hr {
    width: 100%;
  }

  .header__title {
    font-size: 34px;
  }

  .header__btn {
    font-size: 18px;
    max-width: 305px;
    width: 100%;
  }

  /* skills */
  .skills__item__title {
    font-size: 18px;
  }

  .skills__item__descr {
    font-size: 12px;
  }

  .skills__item__btn {
    font-size: 14px;
    max-width: 200px;
    width: 100%;
  }

  /* about */

  .about__wrap {
    flex-direction: column-reverse;
  }

  .about__title {
    text-align: center;
  }

  .about__descr {
    text-align: center;
  }

  .about__items {
    justify-content: space-around;
  }

  .about__item__title {
    font-size: 24px;
  }

  .about__item__descr {
    font-size: 14px;
  }

  /* pricing */
  .pricing__item__title {
    font-size: 24px;
  }

  .pricing__item__btn {
    max-width: 205px;
    width: 100%;
    padding: 0;
  }

  /* contact */
  .contact__wrap {
    flex-direction: column;
    align-items: center;
  }

  .contact__left {
    margin: 0;
  }

  .contact__title_2 {
    display: block;
    text-align: center;
  }

  .contact__title_1 {
    display: none;
  }

  .contact__descr {
    text-align: center;
  }

  .contact__form {
    justify-content: center;
    gap: 0;
    flex-wrap: nowrap;
  }

  .contact__input {
    max-width: 500px;
    width: 100%;
    font-size: 13px;
  }

  .contact__btn {
    margin-left: -145px;
    font-size: 16px;
  }

  /* footer */
  .footer__wrap {
    gap: 15px;
  }


  .footer__mnu__link {
    font-size: 12px;
  }
}

/* 460 */
@media screen and (max-width: 460px) {

  /* header */
  .header__title {
    font-size: 24px;
    line-height: 36px;
  }

  .header__descr {
    font-size: 14px;
  }

  .header__btn {
    font-size: 16px;
    max-width: 289px;
  }

  /* skills */
  .skills__grid {
    grid-template-areas: "one""two""three""four";
  }

  .skills__item {
    max-height: 600px;
  }

  .skills__item__btn {
    max-width: 178px;
    margin: 0;
    margin-bottom: 20px;
  }

  /* about */
  .about__descr {
    font-size: 13px;
  }

  .about__items {
    flex-direction: column;
    gap: 50px;
  }

  .about__item__descr {
    font-size: 15px;
  }

  /* pricing */

  .pricing__item {
    max-width: 100%;
  }

  .pricing__item__title {
    font-size: 18px;
  }

  .pricing__item__descr {
    font-size: 13px;
  }

  .pricing__item__btn {
    font-size: 14px;
    max-width: 170px;
  }

  .pricing__item__btn span {
    font-size: 18px;
  }

  /* contact */
  .contact__form {
    flex-wrap: wrap;
  }

  .contact__input {
    max-width: 291px;
    margin-bottom: 17px;
    font-size: 12px;
  }

  .contact__btn {
    margin-left: 0;
    max-width: 290px;
    width: 100%;
    font-size: 14px;
  }

  /* footer */
  .footer__wrap {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__mnu__link {
    font-size: 11px;
  }
}